<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>
<body>
    <form action="/user/new" method="post">
        <input type="text" name="username" placeholder="enter username" required><br><br>
        <input type="email" name="email" placeholder="enter email" required><br><br>
        <input type="password" name="password" placeholder="enter password" required><br><br>
        <button>Submit</button>
    </form>
</body>
</html>